.menu-page-profile-pic img{
    height:150px; 
    width:150px;
    border-radius: 90px;
    display: flex;
    vertical-align: middle;
    margin:0 auto;
}

.menu-page-profile-pic-toggle img{
    border-radius: 90px;
    height:55px;
    width:55px;
    display: flex;
    vertical-align: middle;
    margin:0 auto;
    margin-bottom: 40px;
}

.nav-item{
    font-size: 22px;
    color: rgb(255, 255, 255);
    margin-top:20px ;
    margin-left: 20px;
}

.nav-link{
    cursor: pointer;
}
.nav-link svg{
    height:22px;
    margin-right: 8px;
    
}
.nav-link svg:hover{
    color:rgb(200, 107, 0);

    
}
.nav-link:hover{
    color:rgb(200, 107, 0);
}


.rocket .nav-link::after {
    content: "🚀"; /* Replace with your desired emoji */
    position: relative;
    left:0.5em; /* Adjust this to change the distance of the emoji from the text */
    opacity: 0;
    transition: opacity 0.2s;
}

.rocket .nav-link:hover::after {
    opacity: 1;
}

.nav-item-toggle svg{
    color: rgb(255, 255, 255);
    height:30px;
    width:30px;
    margin-top:29px ;
    margin-left: 26px;
}