.menu-page-profile-pic img{
    height:150px; 
    width:150px;
    border-radius: 90px;
    display: flex;
    vertical-align: middle;
    margin:0 auto;
}

.menu-page-profile-pic-toggle img{
    border-radius: 90px;
    height:55px;
    width:55px;
    display: flex;
    vertical-align: middle;
    margin:0 auto;
    margin-bottom: 40px;
}
.nav-item {
    font-size: 22px;
    color: #000000;
    margin-top: 7px;
    padding-left: 20px;
    padding: 7.5px; /* Add some padding for better visual effect */
    border-radius: 8px; /* Optional: add rounded corners */
}

.nav-link {
    cursor: pointer;
    display: flex; /* To align icon and text horizontally */
    align-items: center; /* Vertically center icon and text */
}

.nav-link svg {
    height: 22px;
    margin-right: 8px;
}

.nav-item:hover {
    background-color: aliceblue; /* Change background color on hover */
}

.nav-link:hover {
    /* background-color: aliceblue; */
    color: #400d74;
}

.nav-link svg:hover {
    /* background-color: aliceblue; */
    color: #400d74;
}

/* .rocket .nav-link::after {
    content: "👀"; 
    position: relative;
    left: 0.5em; 
    opacity: 0;
    transition: opacity 0.4s;
}

.rocket .nav-link:hover::after {
    opacity: 1;
    border-bottom: 2px solid currentColor;
} */

.nav-item-toggle svg {
    color: rgb(0, 0, 0);
    height: 30px;
    width: 30px;
    margin-top: 29px;
    margin-left: 26px;
}
.nav-item-toggle:hover svg {
    color: rgb(0, 0, 0);
    height: 32px;
    width: 32px;
    background-color: aliceblue;
    border-radius: 5px;
    padding:1px;
    margin-top: 29px;
    margin-left: 26px;
}