.app-page {
    /* background-image: url("https://st2.depositphotos.com/1011081/8699/i/450/depositphotos_86997870-stock-photo-high-resolution-image-of-earth.jpg"); */
    background-image: url("https://us.123rf.com/450wm/kittiyaporn1027/kittiyaporn10271509/kittiyaporn1027150900058/44760616-abstract-purple-background.jpg?ver=6");
    /* background-color: rgb(0, 0, 0); */
    /* background: linear-gradient(0deg,rgba(25,55,109,0.2) 0%,rgba(25,55,109,1) 100%); */
    /* background-color: #0d0d0d; */
    padding: 0;
    height: 100vh;
    /* background: linear-gradient(to top, #000063, #000000); */
    background-size: cover; /* Ensure the background covers the entire element */
    background-position: center; /* Center the background image */
    /* background-color: rgba(0, 0, 0, 0.);  */
    /* background-blend-mode: overlay; */
  }
  