.app-page {
    /* background-image: url("https://media.istockphoto.com/id/169945157/photo/milkyway-seen-from-the-southern-skies.webp?b=1&s=170667a&w=0&k=20&c=HoY5xQeWWY2m_7E9kaT59eQ6Y5s_1-hHEZHn56GdDhY="); */
    background-color: black;
    padding: 0;
    height: 100vh;
    background-size: cover; /* Ensure the background covers the entire element */
    background-position: center; /* Center the background image */
  }
  