html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;

}
.app-page {
    background-color: rgba(43, 12, 58, 0.3);
    background-image: url("https://static.vecteezy.com/system/resources/previews/047/423/264/non_2x/illustrations-of-natural-mountain-landscapes-when-the-sun-sets-or-rises-for-background-vector.jpg");
    /* background: linear-gradient(0deg,rgba(25,55,109,0.2) 0%,rgba(25,55,109,1) 100%); */
    height: 100vh;
    min-height: 100vh;
    overflow-y: auto; 
    background-attachment: fixed; 
    background-size: cover; /* Ensure the background covers the entire element */
    background-position: center; /* Center the background image */
    background-blend-mode: overlay;
  }
  