.skills-component{
    background-color: rgba(0, 0, 0,0);
    margin-top: 80px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-component h1{
    color:#ffffff ;
    padding-bottom: 5px;
    border-bottom: 2px solid;
    display: flex;
    
}
.skills-component .row{
    padding-top: 30px;
    
}
.skills-component .card {
    /* border-radius: 12px; */
    transition: background-color 0.9s ease;
    cursor: pointer;
    border-radius: 10px;
    transition: box-shadow 0.4s ease;
}
.skills-component .card-body{
    background-color:rgba(0, 0, 0, 0);
    /* border: 2px solid #d8b4fe; Sets the border color and width */
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; 
    
    /* color: white; */
}
.skills-component .skill-icon{
    padding-right: 3px;
    /* color: white; */
}

.skills-component .card:hover{
    background-color:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px #f7efff;
}

@media(max-width:600px){
    .skills-component{
      margin-left:2px;
      padding-top: 20px;
    }

}