.about-page {
    /* background-color: hsl(0, 0%, 0%); */
    /* padding-top: 90px; */
    background-color: rgba(0, 0, 0,0);
    margin-left: 100px;
  }
.about-content{
  padding-top: 50px;
  
}
.about-content h3{
  font-family:monospace;
  color: #d8b4fe;
  padding-left: 10px;
}
.type-writer{
  font-size:45px;
  color: white;
  padding-top: 20px;
  padding-left: 10px;
}
/* .about-content h5{
  font-family:monospace;
  padding-left: 10px;
  padding-top: 20px;
  color: #f09c15;
} */
.resume-button{
  padding-left: 10px;
  padding-top:30px;
}
.resume-button button{
  background-color:  #d8b4fe;
  font-size:20px ;
}

.resume-button button:hover{
  background-color:  rgb(255, 255, 255);
  font-size:22px ;
  transition: 0.5s;
}

.info{
  margin-top:70px;
  border-radius: 10px;
  padding:40px;
  /* background-color: #d8b4fe; */
  border:2px solid;
  border-color: #d8b4fe;
}
.info img{
  padding-left:20px;
  height:200px;
  width:200px;
  border-radius: 120px;
  float:right;
}
.info h5{
  size: 30px;
  color:#e0e0e0;
  flex-wrap: wrap;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: justify;
}